body {
    font-size: 60pt;
}

div {
    border: 1px solid black; /* early layout */
    margin: 5px;
    text-align: center;
}

span {
    border: 1px solid red;
    margin: 3px;
    display: inline-block;
}

