body {
    background-color: #222;
    color: #DDD;
    font-size: 22pt;
    font-family: Roboto;
    font-weight: 600;
}

div {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

span {
    display: inline-block;
}

/* big divs */

.bigdiv {
    border: 3px solid #CCC;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 10px;
	background-color: #111;
}

/* sub-spans */

.subvcenter {
	display: flex;
	align-items: center;
}

/* img stuff */

.individual_trophy {
    height: 125px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.team_trophy {
    height: 80px;
	margin-left: 8px;
}

.medal {
    height: 64px;
	margin-left: 8px;
	margin-bottom: 8px;
}

/* numbers/text format */

.name {
    font-size: 48pt;
	margin-right: 20px;
}

.team_name {
	font-size: 32pt;
	margin-left: 10px;
	margin-right: 10px;
}

.medbignumber {
    font-size: 36pt;
	margin-left: 8px;
}

.total_step_number {
	font-size: 32pt;
	margin-left: 8px;
}

.medal_no {
	margin-left: 12px;
}
