body {
    background-color: #222;
    color: #DDD;
    font-size: 32pt;
    font-family: Roboto;
    font-weight: 600;
}

div {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

span {
    display: inline-block;
}

/* big divs */

.bigdiv {
    border: 5px solid #CCC;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* img stuff */

.individual_trophy {
    height: 125px;
}

.team_trophy {
    height: 100px;
}

.medal {
    height: 75px;
}

/* numbers/text format */

.name {
    font-size: 60pt;
}

.speed_point_number {
    font-size: 48pt;
}

.total_km_number {
    font-size: 48pt;

.total_step_number {
	font-size: 36pt;
}

.days_reached {
    font-size: 48pt;
}
